extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros",class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam risus velit, mattis et urna non, cursus sollicitudin felis. Curabitur quis tellus tincidunt, auctor risus at, accumsan purus. Sed et neque lorem. Curabitur sit amet dui suscipit, posuere purus sed, porttitor dolor. Fusce sollicitudin lacus eu consectetur maximus. Cras lobortis molestie condimentum. Cras molestie et lectus at hendrerit. Maecenas varius magna vitae enim gravida scelerisque nec eu mi. Phasellus nibh nisi, efficitur ac justo acg elit. Duis interdum nulla in sem gravida lobortis.

                p Nullam varius id quam eu cursus. Quisque accumsan tempor sollicitudin. Proin eu dui sed magna sagittis fermentum a nec neque. Suspendisse faucibus vitae leo eu volutpat. Curabitur accumsan felis in sodales mollis. Nulla iaculis pulvinar consectetur.

                p Phasellus rhoncus id odio a tempor. Praesent et dolor massa. Pellentesque suscipit nec nisi id accumsan. Quisque hendrerit dolor tellus, ac pretium odio sagittis sit amet. Vestibulum in gravida mi. Praesent eu sodales erat. Phasellus efficitur tortor eget leo eleifend, a vulputate leo aliquam. Fusce imperdiet ut lorem sed eleifend.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Vestibulum in gravida mi. Praesent eu sodales erat. Phasellus efficitur tortor eget leo eleifend, a vulputate leo aliquam. Fusce imperdiet ut lorem sed eleifend.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Phasellus rhoncus id odio a tempor. Praesent et dolor massa. Pellentesque suscipit nec nisi id accumsan.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Cras molestie et lectus at hendrerit. Maecenas varius magna vitae enim gravida scelerisque nec eu mi. Phasellus nibh nisi, efficitur ac justo acg elit. Duis interdum nulla in sem gravida lobortis.
